@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700&family=Lexend+Deca&display=swap');

/* See my reset.css file for the settings Im using to reset the browser default display settings */

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 70rem;
    margin: 1rem;  /* This is what is giving the whole contents of the page margin, and making contents not be the width of the screen */
}

.flex-container {
   /* border: 1px solid red; */
    width: 88%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.flex-card p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 30px;
}

.flex-card {
  /*  border: 1px solid green; */
    padding: 2.5rem 3rem 3rem 3rem;
}

.flexcard-sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0px 0px;
}

.flexcard-suv {
    background-color: hsl(184, 100%, 22%);
}

.flexcard-luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 0px 10px 10px;
}

.card-title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.8rem;
    color: hsl(0, 0%, 95%);
    margin: 35px 0 35px 0;
}
/* fix description text width */
.card-description-text {
   /* width: 90%; */
   font-family: 'Lexend Deca', sans-serif;
}


.btn-learn-more { 
   font-family: 'Lexend Deca', sans-serif;
   border: 3px solid hsl(0, 0%, 95%);
   border-radius: 35px;
   background-color: hsl(0, 0%, 95%);
   color: inherit; /* Needs to be fixed not currently the correct font color */
   padding: 10px 20px 10px 20px;
}

.btn-learn-more:hover {
    color: hsl(0, 0%, 95%);
    background-color: inherit;
    cursor: pointer;
}

/* Desktop View */
@media screen and (min-width: 1024px) {
    
    .flex-container{
        display: flex;
        width: 75%;
        margin-top: 0;  /* to conteract margin on mobile screen size */
        margin-bottom: 0;
    }

    .flexcard-sedan {
        border-radius: 10px 0px 0px 10px;
    }
    
    .flexcard-luxury {
        border-radius: 0px 10px 10px 0px;
    }
}