

/* See my reset.css file for the settings Im using to reset the browser default display settings */

body {
    display: flex;
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'Lexend Deca', sans-serif;
}

.flex-container {
    width: 88%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 100rem;
    
}

.flex-card p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 30px;
}

.flex-card {
    padding: 2.5rem 3rem 3.5rem 3rem;
}

.flexcard-sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0px 0px;
}

.flexcard-suv {
    background-color: hsl(184, 100%, 22%);
}

.flexcard-luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 0px 10px 10px;
}

.card-title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.8rem;
    color: hsl(0, 0%, 95%);
    margin: 35px 0 35px 0;
    text-transform: uppercase;
}

a {
    display: inline-block;
    text-decoration: none;
}

.btn-learn-more { 
   border: 3px solid hsl(0, 0%, 95%);
   border-radius: 35px;
   background-color: hsl(0, 0%, 95%);
   text-transform: capitalize;
   padding: 7px 26px 7px 26px;
}

.btn-lm-sedan{
    color: hsl(31, 77%, 52%);
}

.btn-lm-suv{
    color: hsl(184, 100%, 22%);
}

.btn-lm-lux{
    color: hsl(179, 100%, 13%);
}

.btn-learn-more:hover {
    color: hsl(0, 0%, 95%);
    background-color: inherit;
    cursor: pointer;
}

/* Desktop View */
@media screen and (min-width: 1024px) {
    
    .flex-container{
        display: flex;
        width: 70%;
    }

    .flex-card {
        padding: 2.5rem 0.2rem 3.5rem 3rem;
      }

    .card-description-text {
        width: 78%;
    }

   
    .btn-learn-more {
        margin-top: 60px;
    }

    .flexcard-sedan {
        border-radius: 10px 0px 0px 10px;
    }
    
    .flexcard-luxury {
        border-radius: 0px 10px 10px 0px;
    }
}